.preview__autor{
    background-color: white;
    width: 40rem;
    transform: translateY(0%);
}

.section_landing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;

}


