
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
    &__icon{
        color:$white;
        font-size: 3.1rem;
        padding-left: 2.6rem;
    }
    &__text{
        @include textStyle($fontPoppins, 300, 1.4rem,  $white-50);
        width: 13.9rem;
        height: 2.3rem;
    }
    &__logo{
        width: 12.3rem;
        padding-inline: 2.2rem;
    }
}