
:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background-color: rgb(131, 93, 131);
    background-image: url(../../../src/images/fondo.jpg);
    background-size: cover;
  }
  
.container {
  background-color: transparent;
  min-height: 100vh;
  width: 100%;
}
 a, button {
  cursor: pointer;}
