:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  background-color: rgb(131, 93, 131);
  background-image: url(../../../src/images/fondo.jpg);
  background-size: cover;
  background-position: 40%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @media all and (min-width: 1024px){
    background-size: 100% 120%;
  }
}

.container {
  min-height: 100%;
  width: 100%;
}
a,
button {
  cursor: pointer;
}
